:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
}

.dark {
    --theme: #000000; /* Crust */
    --entry: #000000; /* Surface 0 */
    --primary: #F5F5F7; /* Text */
    --secondary: #F5F5F7; /* Subtext 0 */
    --tertiary: #1D1D1F; /* Overlay 1 */
    --content: #F5F5F7; /* Subtext 1 */
    --code-block-bg: #000000; /* Surface 0 */
    --code-bg: rgb(69, 71, 90); /* Surface 1 */
    --border: lightgrey; /* Surface 2 */
}


.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
