/* @import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap"); */

[lang="ur"],
.urdu {
  font-family: "Noto Nastaliq Urdu", serif !important;
  font-weight: normal;
  direction: rtl;
  text-align: right;
  line-height: 2.2;
}
